ARB_MODE=paper
POLYMARKET_PRIVATE_KEY=
POLYMARKET_WALLET_ADDRESS=
POLYMARKET_RELAYER_API_KEY=
POLYMARKET_RELAYER_API_KEY_ADDRESS=
MAX_NOTIONAL_PER_TRADE_PUSD=25
MAX_DAILY_LOSS_PUSD=50
MAX_OPEN_PAIRS=3
MIN_EDGE=0.01
MAX_GAP=0.08
STALE_MS=400
HEDGE_TIMEOUT_MS=1500
WS_STALE_MS=3000
PAPER_BANKROLL=500
